body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #222;
  background-color: #fdfdfd;
  line-height: 1.7;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  margin-top: 0;
}
.hero {
  height: 60vh;
  background: linear-gradient(rgba(0, 50, 100, 0.4), rgba(0, 0, 0, 0.5)),
    url("https://i.postimg.cc/zGmbQ8pz/pexels-mali-142497.jpg")
      center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero .overlay {
  padding: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 300;
}
.gradient-section {
  background: linear-gradient(to bottom right, #337008, #052802);
  color: white;
  text-align: center;
  padding: 4rem 1rem;
}

.gradient-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.gradient-section p {
  max-width: 650px;
  margin: 0 auto;
  font-size: 1rem;
}
.solid-section {
  background-color: #f5f7fa;
  color: #333;
  text-align: center;
  padding: 4rem 1rem;
}

.solid-section h2 {
  color: #154e16;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.solid-section p {
  max-width: 650px;
  margin: 0 auto;
  font-size: 1rem;
}
footer {
  text-align: center;
  padding: 1.5rem 1rem;
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }
  .gradient-section,
  .solid-section {
    padding: 6rem 2rem;
  }
}
